<!DOCTYPE html>
<html>
<head>
    <title>Прогнозы на спорт</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/Shared/ChangeActive.js")" type ="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Shared/MoveLogon.js")" type ="text/javascript"></script>
</head>
<body>
    @Html.Partial("_LoginPartial")
    @{ Html.RenderAction("HeaderMenu", "Home"); }
    <div id="wrapper">
        @{ Html.RenderAction("Sidebar", "Home"); }
        <div id="content">
            @{ Html.RenderAction("LatestBets", "Home"); }
            @RenderBody()
        </div>
        <div id="footer">
            <p class="validate">
                <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/">CSS</a><br />
                <a href="#content">Top</a>
            </p>
            <p>
                Design by <a href="/">DevStudio</a>.<br />
                © Все права защищены.
            </p>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
