<div id="header">
    <h1><a href="/">Прогнозы на спорт</a></h1>
    <a href="#content" class="hide">Skip to Content</a>
    <ul id="nav">
        <li><a href="@Url.Action("News", "Menu")" class="active" accesskey="h"><em>Н</em>овости</a></li>
        <li><a href="@Url.Action("Forecasts", "Menu")" accesskey="a"><em>П</em>рогнозы</a></li>
        <li><a href="@Url.Action("Results", "Menu")" accesskey="e"><em>Р</em>езультаты</a></li>
        <li><a href="@Url.Action("Contacts", "Menu")" accesskey="c"><em>К</em>онтакты</a></li>
        <li><a href="@Url.Action("Information", "Menu")" accesskey="o"><em>И</em>нформация</a></li>
    </ul>
    <br class="clear" />
</div>
